.idea
.env
vars-model/mvfouls/*
vars-model/models/*
__pycache__/
config/__pycache__/
vars-model/dataset/*.zip
vars-model/dataset224p/*
vars-model/dataset720p/*
dataset/*
dataset224p/*
dataset720p/*
models/VARS/*
VARS/*
runs/*